In [7]:
def i2c(inch):
    return inch * 2.54

def c2i(cm):
    return cm / 2.54

In [21]:
import pandas as pd
import numpy as np

df = pd.DataFrame()
df['cm'] = np.arange(50, 170, 5)
df['inch'] = c2i(df['cm'])
df['inch'] = df['inch'].apply(lambda x: round(x, 2))

df

     cm   inch
0    50  19.69
1    55  21.65
2    60  23.62
3    65  25.59
4    70  27.56
5    75  29.53
6    80  31.50
7    85  33.46
8    90  35.43
9    95  37.40
10  100  39.37
11  105  41.34
12  110  43.31
13  115  45.28
14  120  47.24
15  125  49.21
16  130  51.18
17  135  53.15
18  140  55.12
19  145  57.09
20  150  59.06
21  155  61.02
22  160  62.99
23  165  64.96